source https://api.nuget.org/v3/index.json

framework: net6.0
storage: none

nuget Expecto.FsCheck
nuget Expecto.Hopac

nuget Fable.SimpleHttp 
nuget Feliz.Markdown
nuget Feliz.Router
nuget FSharp.Core ~> 6.0

nuget Fake.Core.Target

nuget Fable.Browser.DOM
nuget Fable.Core
nuget Fable.Fetch
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Giraffe
nuget Fable.Remoting.Client

nuget Feliz
nuget Feliz.UseElmish

nuget Saturn

nuget FParsec

nuget Informedica.GenOrder.Lib = 1.0.0
# have to add because of issue: https://github.com/fsprojects/Paket/issues/4197
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 6